[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "mapbayr"]
	path = mapbayr
	url = https://github.com/felicienll/mapbayr
	shallow = true
	registered = true
